*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Tahoma, Arial;
}

body{
    background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    background:white;
    width:90%;
    max-width:400px;
    padding:30px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

h1{
    color:#2c5364;
    margin-bottom:25px;
    font-size:28px;
}

input{
    width:100%;
    padding:15px;
    font-size:20px;
    border:2px solid #2c5364;
    border-radius:12px;
    outline:none;
    margin-bottom:15px;
    text-align:center;
}

input:focus{
    border-color:#00bcd4;
}

button{
    width:100%;
    padding:15px;
    font-size:20px;
    background:#2c5364;
    color:white;
    border:none;
    border-radius:12px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#00bcd4;
}

#result{
    margin-top:20px;
    padding:15px;
    background:#f1f1f1;
    border-radius:12px;
    font-size:22px;
    color:#333;
    min-height:60px;
}